@import url("../fonts/fira/fira.css");
@import url("../fonts/Proxima-Nova/nova.css");

.login-container{
	width: 960px;
	margin:0 auto;
	padding-top: 276px;
}

.login-block{
	width: 590px;
	margin-left: 185px;
	margin-bottom: 275px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.login-head{
	display: block;
	height: 75px;
	background: #48cbe8;
	border-bottom: 15px solid #67dffa;
	font-size: 40px;
	font-family: 'fira_sansbook';
	color: #fff;
	padding-left: 133px;
	padding-top: 16px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.login-form-container{
	background: #eff3f7;
	padding-top: 17px;
	padding-bottom: 16px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.login-form-element{
	margin-left: 83px;
	margin-bottom: 12px;
	position: relative;
}

.login-form-inputname{
	display: block;
	font-size: 36px;
	font-family: 'fira_sanslight';
	color: #959aa8;
	padding-left: 160px;
}
.pix151{
	padding-left: 151px;
}
.login-form-input{
	width: 403px;
	border:1px solid #48cbe8;
	height: 59px;
	border-radius: 4px;
	padding-left: 19px;
	font-size: 17px;
	outline: none;
}

.login-form-input::placeholder{
	font-family: 'fira_sanslight';
	color: #48cbe8;
	opacity:1px;
	transition: opacity 0.3s ease;
}

.login-form-input:focus::placeholder{
	opacity: 0;
	transition: opacity 0.3s ease;
}

.login-form-submit-button{
	font-family: 'fira_sansbook';
	font-size: 36px;
	color: #fff;
	background: #48cbe8;
	border:none;
	border-radius: 4px;
	width: 226px;
	height: 53px;
	border-bottom: 3px solid #3ba8c0;
	outline: none;
	cursor: pointer;
	margin-top: 21px;
    margin-left: 98px;
}

.login-form-submit-button:active{
	border-bottom: none;
	border-top:3px solid #3ba8c0;
}


/*================QTIP POSITION======================*/

.login-qtip{
	width: 114px !important;
	top: 72px !important;
	left: -153px !important;
}