.works-container{
	margin-left: 20px;
	margin-top: 28px;
	font-size: 0px;
	min-height: 743px;
}


.work-site-container{
	width:180px;
	height:125px;
	border: 1px solid #3ba8c0;
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 8px;
	background-image: url(../images/work-bg.png);
}

.works-element-container{
	display: inline-block;
	margin-right: 33px;
	width: 182px;
	margin-bottom: 43px;
	vertical-align: top;
}

.works-element-container:nth-child(3n+3){
	margin-right: 0;
}

.works-site-link{
	font-size: 12px;
	font-family: 'fira_sanslight';
	display: block;
	text-align: center;
	color: #53b2c7;
	text-decoration: none;
	margin-bottom: 11px;
	padding-left: 5px;
    padding-right: 5px;
}

.works-site-descript{
	font-size: 15px;
	color: #4a545d;
	display: block;
	font-family: 'fira_sanslight';
	text-align: center;
	line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

.work-site-back{
	width: 100%;
	height: 100%;
	background: rgba(65, 145, 185, 0.3);
	text-align: center;
	opacity: 0;
}
.work-site-back:hover{
	opacity: 1;
	transition-duration: 0.5s;
}
.site-works-link-in{
	font-size: 13px;
	font-family: 'fira_sansbook';
	color: #eff3f7;
	border: 2px solid #eff3f7;
	border-radius: 5px;
	display: inline-block;
	margin-top: 54px;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
}

.work-site-add-container{
	width:180px;
	height:125px;
	border: 1px dashed #3ba8c0;
	border-radius: 5px;
	display: inline-block;
	background: #edf8fc;
}

.work-site-add-link{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 13px;
	color: #3ba8c0;
	font-family: 'fira_sanslight';
	text-decoration: none;
	text-align: center;
}

.work-site-add-img{
	display: block;
	margin: 0 auto;
	padding-top: 34px;
	padding-bottom: 9px;
}

/*====================================POPUP==================================*/

.popup-wrapper{
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background:rgb(129, 142, 155, 0.5);
	overflow: hidden;
}